:root {
  --primary-color-400: hsl(324, 96%, 73%);

  --neutral-color-100: hsl(0, 0%, 100%);
  --neutral-color-1100: hsl(0, 0%, 0%);

  --ff-primary: system-ui, sans-serif;
  --ff-heading: 'Cabinet Grotesk Variable', system-ui, serif;

  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;
  --fs-1000: 3.375rem;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
}

body {
  min-height: 100svh;
  font-family: var(--ff-body);
}