.hero-heading {
    font-family: var(--ff-heading);
    font-size: var(--fs-600);
    text-align: center;
}

header {
    grid-column: full-page;
    grid-row: top;
    padding: var(--gap-600) var(--gap-500);
    font-family: var(--ff-heading);
    font-size: var(--fs-700);
}

main {
    grid-area: content;
    margin-inline: var(--gap-500);
    padding-block-start: var(--gap-850);
    display: flex;
    flex-direction: column;
}

button {
    border: 0;
    background-color: #FFB35C;
    padding: 0.75rem;
    margin-block: var(--gap-500) var(--gap-700);
    place-self: center;
    cursor: pointer;
}

button:hover {
    background-color: hsl(32, 100%, 80%);
}

button:active {
    background-color: hsl(32, 100%, 40%);
    color: var(--neutral-color-100);
}

p {
    text-align: center;
    font-size: var(--fs-400);
    line-height: 1.25;
}

@media screen and (min-width: 685px) {
    .main-landmark {
        display: grid;
        grid-template-rows: 1fr [content-start] auto [content-end] 1fr;
        grid-template-columns: [left-start] 1fr [left-end right-start] 1fr [right-end];
        align-content: center;
    }

    .hero-image {
        grid-row: content;
    }

    .hero-section {
        grid-row: content;
        grid-column: left;
    }
}