.btn {
    background-color: var(--neutral-color-1100);
    color: white;
    border-radius: 2rem;
    padding: 0.6875rem 0.875rem;
    border: none;
    display: flex;
    align-items: center;
    column-gap: var(--gap-200);
}

.small {
    /* background-color: blue; */
}